<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Welcome to my Flask App</h1>
    <div class = "gridContainer", id = "ticTacToeGrid">
        <button class="buttonGrid" id="LT"></button>
        <button class="buttonGrid" id="MT"></button>
        <button class="buttonGrid" id="RT"></button>
        <button class="buttonGrid" id="LM"></button>
        <button class="buttonGrid" id="MM"></button>
        <button class="buttonGrid" id="RM"></button>
        <button class="buttonGrid" id="LB"></button>
        <button class="buttonGrid" id="MB"></button>
        <button class="buttonGrid" id="RB"></button>
    </div>
    <div class = "buttonStartContainer">
        <button class="buttonStart" id="start">start</button>
        <button class="buttonRestart" id="restart">restart</button>
    </div>
    <script>
    $(document).ready(function() {
        var gameStarted = false;

        $('.buttonGrid').click(function() {
            if (!gameStarted) { return; }
            var buttonId = $(this).attr('id');
            if ($('#' + buttonId).text() != "") { return; }
            sendClickInfo(buttonId);
        });

        $('.buttonStart').click(function() {
            startGame();
        });

        $('.buttonRestart').click(function() {
            restartGame();
        });

        function startGame() {
            gameStarted = true;
            $.ajax({
                type: 'POST',
                url: '/main',
                success: function() {
                    print("Success")
                }
            });
        }

        function restartGame() {
            var grid = document.getElementById('ticTacToeGrid').getElementsByTagName("*");
            for (square of grid) {
                $(square).text("");
            }
            startGame()
        }
        
        function sendClickInfo(buttonId) {
            $.ajax({
                type: 'POST',
                url: '/button_click',
                success: function(response) {
                    $('#' + buttonId).text(response);
                }
            });
        }
    });
    </script>
</body>
</html>